<?xml version="1.0" encoding="UTF-8"?>
<kml xmlns="http://www.opengis.net/kml/2.2" xmlns:gx="http://www.google.com/kml/ext/2.2">
  <Document>
    <open>1</open>
    <LookAt id="lookAt">
      <latitude><%= 53.559889 %></latitude>
      <longitude><%= -113.493104 %></longitude>
      <altitudeMode>relativeGround</altitudeMode>
      <range><%= 5000 %></range>
    </LookAt>
    <Style id="wormStyle">
      <IconStyle id="wormIcon">
        <Icon>
          <href>http://worms.educ.ualberta.ca/img/worms.png</href>
        </Icon>
      </IconStyle>
    </Style>
    <Style id="noWormStyle">
      <IconStyle id="noWormIcon">
        <Icon>
          <href>http://worms.educ.ualberta.ca/img/no-worms.png</href>
        </Icon>
      </IconStyle>
    </Style>
    <Folder id="sightings">
      <name>Sightings</name>
      <% samples.forEach(function(sample) { %>
      <Placemark id="p_<%= sample.id %>">
        <% if (sample.sighting && sample.sighting.wormCount > 1) { %>
        <styleUrl>#wormStyle</styleUrl>
        <name><%= sample.sighting.wormCount %> worms</name>
        <% } else if (sample.sighting && sample.sighting.wormCount == 1) { %>
        <styleUrl>#wormStyle</styleUrl>
        <name>1 worm</name>
        <% } else { %>
        <styleUrl>#noWormStyle</styleUrl>
        <name>0 worms</name>
        <% } %>
        <description><![CDATA[
          <% if (sample.overrideGPS) {%>GPS Cordinates Are Approximate<br /><br /><% } %>
          Date Collected: <%= new Date(sample.sampledAt).toLocaleDateString() %><br/><br/>
          Sampling Method: <%= sample.samplingMethod %><br/>
          <% if (sample.sighting) { %>Classification: <%= sample.sighting.classification %><br/><% } %>
          <% if (sample.sighting) { %>Length: <%= sample.sighting.length  %><br/><% } %>
          Ground Moisture: <%= sample.groundMoisture %><br/>
          Habitat: <%= sample.habitat %><br/>
          Litter Layer: <%= sample.litterLayer %> <%= sample.litterLayerUnits %><br/>
          Lake or Stream? <%= (sample.lakeOrStream) ? 'Yes' : 'No' %><br/>
          Paths? <%= (sample.paths) ? 'Yes' : 'No' %><br/>
          Roads? <%= (sample.roads) ? 'Yes' : 'No' %><br/>
          Buildings? <%= (sample.buildings) ? 'Yes' : 'No' %><br/>
          Fishing? <%= (sample.fishing) ? 'Yes' : 'No' %><br/>
          Grazing? <%= (sample.grazing) ? 'Yes' : 'No' %><br/>
          Crops? <%= (sample.crops) ? 'Yes' : 'No' %><br/>
          <% if (sample.sighting && sample.sighting.notes && sample.publicState == 'public') { %><%- sample.sighting.notes %><% } %>
        ]]></description>

        <Point>
          <coordinates><%= sample.longitude %>,<%= sample.latitude %>,0</coordinates>
        </Point>
      </Placemark>
      <% }); %>
    </Folder>
  </Document>
</kml>