<p>Thank you for registering for a Worm Tracker Group ID! Once your registration is reviewed and approved you will receive a confirmation email.</p>
<br>
<p>WormTracker<br><a href="mailto:worms@ualberta.ca">worms@ualberta.ca</p>